
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html, body {
    position: relative;
    overflow-x: hidden;
  }

nav {
    background-color: rgb(255, 37, 80);
    width: 100%;
    padding: 10px;
}
.logo {
    width: 60px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    margin-top: 20px;
  }

.titleText {
    font-weight: bold;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.article {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
}

.articleTitle {
    color: black;
    font-weight: bold;
}

.sectionText {
    color: rgb(78, 89, 98);
}


